.markdown-preview.markdown-preview {

    font-family: 'STSong', 'arial', 'freesans', 'clean', 'sans-serif';
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
    background-color: #fff;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    // text-indent: 2em;  /*首行缩进*/
  
    /* ====================
    HEADERS
    ====================*/
    h1, h2, h3, h4, h5, h6 {
        font-family: 'STSong', 'arial', 'freesans', 'clean', 'sans-serif';
        margin: 20px 0 10px;
        padding: 0;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
    }
  
    h1 {
        text-align: center;  /*居中*/
        color: #000;
        font-size: 28px;
    }
  
    h2 {
        margin: 40px 0 10px;
        font-size: 24px;
        border-bottom: 4px solid #ccc;
        color: #000;
    }
  
    h3 {
        font-size: 20px;
    }
  
    h4 {
        font-size: 18px;
    }
  
    h5 {
        font-size: 16px;
    }
  
    h6 {
        font-size: 14px;
    }

    /* LINKS
    =============================================================================*/
    a {
        color: #4183C4;
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: underline;
    }

    /* LISTS
    =============================================================================*/

    ul, ol {
        padding-left: 30px;
    }
    
    ul li > :first-child, 
    ol li > :first-child, 
    ul li ul:first-of-type, 
    ol li ol:first-of-type, 
    ul li ol:first-of-type, 
    ol li ul:first-of-type {
        margin-top: 0px;
    }
    
    ul ul, ul ol, ol ol, ol ul {
        margin-bottom: 0;
    }
    
    dl {
        padding: 0;
    }
    
    dl dt {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        padding: 0;
        margin: 15px 0 5px;
    }
    
    dl dt:first-child {
        padding: 0;
    }
    
    dl dt>:first-child {
        margin-top: 0px;
    }
    
    dl dt>:last-child {
        margin-bottom: 0px;
    }
    
    dl dd {
        margin: 0 0 15px;
        padding: 0 15px;
    }
    
    dl dd>:first-child {
        margin-top: 0px;
    }
    
    dl dd>:last-child {
        margin-bottom: 0px;
    }


    /* CODE
    =============================================================================*/
    pre, code, tt {
        font-style: italic;
        font-size: 17;
        font-family: Consolas, "Liberation Mono", Courier;
        background-color: #E8E8E8;
    }

    /* QUOTES
    =============================================================================*/
    blockquote {
        border-left: 4px solid #F5F5F5;
        background-color: #F5F5F5;
        padding: 0 15px;
        color: #000000;
    }
}